.chef-gui {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #3B81F6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2d6caf;
}
